
#top {
             background-color:red;
      }
#headline {
               text-align:center ;
      }
      *{
  margin:0px;
  border:0px;
  padding:0px;
}
#yellow{
  position:relative;
  border: 3px solid orange;
   width:80px;
  height:80px;
  left:10px;
  top:10px;
  background-color: orange;
}
#green{
  position:absolute;
  border: 3px solid green;
  left:35px;
  height:80px;
  width:80px;
  top:25px;
  background-color:green;
}
#blue{
  position:absolute;
  border: 3px solid blue;
  left:40px;
  height:80px;
  width:80px;
  top:40px;
  background-color:blue;
}





